body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    background-color:#282c34;
  }
  
  .landing-page img {
    width: 600px;
    margin-bottom: 50px;
  }
  
  .landing-page h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 60px;
  }
  
  .landing-page h2 {
    font-size: 20px;
    color: red;
    margin: 10px 20px;
  }
  .landing-page h3 {
    font-size: 18px;
    margin: 10px 20px;
    color: #61dafb;
  }
  

  .landing-page p {
    font-size: 16px;
    margin: 5px 5px;
  }
  
  .project-link {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .project-link:hover {
    text-decoration: none;
    color:  #21a1f1;
    font-weight: bold;
  }
  
  .landing-page .names {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
  }
  
  .landing-page .names div {
    margin-top: 50px;
    text-align: left;
  }
  
  .landing-page .names div p {
    margin: 5px 0;
  }
  .My_button{
    margin: 80px 10px;
    border-radius: 10px;
    font-size: larger;
    background-color:#61dafb;
    text-decoration: none;
  }
  .My_button:hover{
    background-color: #21a1f1;
    color:white;
  }
